.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
  background:#dbdbdb;
}
.Header-Flex h1 {
  font-weight: 500;
}
.NavBar ul li {
  display: inline;
  list-style-type: none;
  padding: 20px;
}
.NavBar {
    height: 100%;
}
.NavBar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.Header-Icons {
  display: flex;
  gap: 5px;
}
.Header-Icon-1 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 100px;
  color: white;
  background: Black;
}
.Header-Icon-2 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 100px;
  color: white;
  background: Black;
}


@media only screen and (max-width: 550px) {
    .NavBar {
      display: none;
    }
}

