.Section-10-Text{
    text-align: center;
}
.Section-10-Text h2{
    font-size: 19px;
    font-weight: 500;
     color: #e89082;
}
.Section-10-Text h1{
    font-size: 50px;
    font-weight: 500;
    max-width: 600px;
    margin: auto;
    line-height: 1.2;
}
.Section-10-Text p{
    font-size: 13px;
    max-width: 350px;
 padding-top: 15px;
    margin: auto;
}
.Btn-Div{
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 8px;
  
  }
  .Btn-Div button{
    color: black;
    border: 1px solid black;
    background: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
  }
  .Btn-Div button:hover{
    background: #000;
    color: white;
  }
