.Section-3-Text{
    text-align: center;
    padding-top: 5%;
}
.Section-3-Text h2{
    color: #e89082;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.Section-3-Text h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}
.Section-3-Text p{
    font-size: 15px;
    max-width: 400px;
    font-weight: 400;
    margin: auto;
    padding-top: 10px;
}
.Boxes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
    height: 250px;
    flex-wrap: wrap;

}
.Box-1{
  box-shadow: 10px 5px 40px #f48c80;
    padding: 25px;
    padding-top: 35px;
    border-radius: 20px;
}
.Box-2{
  box-shadow: 10px 5px 40px #f9c345;
  padding: 25px;
  padding-top: 35px;
  border-radius: 20px;
}
.Box-3{
  box-shadow: 10px 5px 40px #c3bff9;
  padding: 25px;
  padding-top: 35px;
  border-radius: 20px;
}
.Box-4{
  box-shadow: 10px 5px 40px #5171e2;
  border-radius: 20px;
  padding: 25px;
  padding-top: 35px;
}
.Box-1 h3{
  font-size: 25px;
  font-weight: 500;
}
.Box-2 h3{
  font-size: 25px;
  font-weight: 500;
}
.Box-3 h3{
  font-size: 25px;
  font-weight: 500;
}
.Box-4 h3{
  font-size: 25px;
  font-weight: 500;
}
.Box-1 p{
  max-width: 200px;
  font-size: 15px;
  font-weight: 300;
}
.Box-2 p{
    max-width: 200px;
    font-size: 15px;
    font-weight: 300;
  }
  .Box-3 p{
    max-width: 200px;
    font-size: 15px;
    font-weight: 300;
  }
  .Box-4 p{
    max-width: 200px;
    font-size: 15px;
    font-weight: 300;
  }
  .Icon-1{
    font-size: 50px;
    color: #f48c80;
  }
  .Icon-2{
    font-size: 50px;
    color:#f9c345;
   
  }
  .Icon-3{
    font-size: 50px;
    color: #c3bff9;
  }
  .Icon-4{
    font-size: 50px;
    color: #5171e2;
  }
  @media only screen and (max-width: 768px){
   .Boxes{
    max-width: 720px;
    padding-bottom: 300px;
   }
    .Box-3{
      margin-top: 50px;
    }
    .Box-4{
      margin-top: 50px;
    }
  } 
  @media only screen and (max-width: 655px){
    .Section-3-Text h1{
      max-width: 500px;
      margin: auto;
  }
  }
  @media only screen and (max-width: 530px){
    .Boxes{
margin: auto;
      /* max-width: 400px;  */
    }
    .Box-2{
      margin-top: 50px;
    }
  }
  @media only screen and (max-width: 500px){
    .Boxes{
      max-width: 300px;
    }
  }