.Section-1{
    box-shadow: 10px 5px 40px rgb(207, 205, 205);
    padding: 40px;
    border-radius: 20px;
    height: 140px;
    margin-top: 70px;
}
.Section-2{
    box-shadow: 10px 5px 40px rgb(207, 205, 205);
    padding: 40px;
    border-radius: 20px;
    height: 140px;
    margin-top: 70px;
}
.Section-2 h2{
    font-weight: 400;
}
.Section-1 h2{
    font-weight: 400;
    font-size: 24px;
}
.Section-1 h3{
    font-weight: 600;
}
.Section-2 h3{
    font-weight: 600;
}
.Person-1{
    border-radius: 100%;
}
.Person-2{
    border-radius: 100%;
}
.Side-Text h2{
    color: #e89082;
    font-weight: 500;
    font-size: 20px;
}
.Side-Text h1{
    font-size: 60px;
    max-width: 400px;
    font-weight: 600;
    line-height: 1.2;
}
.Section-11-Flex .Side-Text p{
    padding-top: 20px;
    max-width: 320px;
}

.Section-2-Text h2{
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000000;
    padding: 0;
}
.Section-11-Flex{
    display: flex;
   gap: 30px;
   justify-content:center;
   padding-bottom: 200px;
   padding-top: 200px;
   flex-wrap: wrap;
}
.Section-11-Flex p{
    max-width: 410px;
}
.Section-11-Flex img{
    width: 50px;
}
.Section-11-Flex img{
    border-radius: 100%;
}
@media only screen and (max-width:320px) {
    .Side-Text h2{
        text-align: center;
    }
    .Side-Text h1{
        text-align: center;
        font-size: 40px;
    }
    .Side-Text p{
        text-align: center;
        font-size: 11px;
    }
}
