.Section-2-Flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-top:10%;
height: 500px;
}
.Text{
    transform: translate(-100px);
    text-align: left;
    width: 500px;
}
.Section-2-Img img{
width:500px;
}
.Text h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #e89082;
    padding-bottom: 25px;
}
.Text h1{
    font-size: 40px;
    font-weight: 500;
    max-width: 670px;
    line-height: 1.2;
}
.Section-2-Flex button{
    background: #333232;
    color: #fff;
    padding: 10px;
    border:none;
    border-radius: 15px;
    width: 150px;
    margin-top: 25px;
}
.Text p{
    font-size: 19px;
    padding-top: 25px;
max-width: 500px;
}
@media only screen and (max-width: 655px){
    .Section-2-Img img{
        max-width:  400px;
        padding-top: 50px;
    }
}
@media only screen and (max-width: 530px){
.Text h2{
    text-align: center;
}
.Text h1{
    text-align: center;
    font-size: 45px;
    max-width: 500px;
}
.Text p{
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 15px;
}
.Section-2-Flex button{
    margin-left: 170px;
}
}
@media only screen and (max-width: 400px){
.Section-2-Img img{
    max-width: 300px;
}
.Section-2-Flex button{
    margin-left: 90px;
}
.Text h1{
    font-size: 30px;
}
.Text h2{
    font-size: 18px;
    padding-bottom: 0;
}
.Text p{
    font-size: 11px;
}
}