.Section-7-Flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 150px;
    flex-wrap: wrap;
}
.Section-7-Text h2{
font-size: 19px;
letter-spacing: 1px;
font-weight: 500;
color: #e89082;
padding-bottom:20px;
}
.Section-7-Text h1{
    font-size: 50px;
    max-width: 300px;
    font-weight: 500;
    line-height: 1.2;
}
.Section-7-Text p{
    font-size: 14px;
    max-width: 400px;
    padding-top: 15px;
}
.Section-7-Text button{
    background: #333232;
    color: #fff;
    padding: 10px;
    border:none;
    font-size: 12px;
    border-radius: 10px;
    width: 150px;
    margin-top: 25px;
}
.Section-7-Flex img{
    max-width:500px;
}
@media only screen and (max-width: 666px){
    .Section-7-Flex img{
        max-width: 400px;
    }
}
@media only screen and (max-width:400px){
.Section-7-Flex img{
    max-width: 300px;
}
.Section-7-Text h1{
    text-align: center;
max-width: 350px;
margin: auto;
}
.Section-7-Text h2{
    text-align: center;
}
.Section-7-Text p{
    text-align: center;
}
.Section-7-Flex button{
    margin-left: 120px;
}
}
@media only screen and (max-width:320px) {
    .Section-7-Text h2{
      font-size: 15px;
      padding-top: 30px;
      padding-bottom: 0;
    }
    .Section-7-Text h1{
    font-size: 30px;
    }
    .Section-7-Text p{
      text-align: center;
      font-size: 11px;
    }
  }